.movies-header{
    background-image: url("../../images/movie.jpg");
    max-height: 110px;
    overflow: visible;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.movies-container{
    background-image: linear-gradient(#1e1d1f 0%, #f6fbed 59.08%);
    padding: 100px 0px;
}

.best-netflix-movies-container{
    max-width: 70%;
    margin: 0 auto;
}

.first-title-movies{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.search-container{
    width: 80%;
    margin: 50px auto;
}

#searchForm input {
    width: 70%;
    margin: 20px auto 0;
}

#movies img, #movie img{
    width:80%;
}

@media(min-width:960px){
    #movies .col-md-3 .well{
        height: 470px;
    }

    #movies .col-md-3 img{
        height:330px;
    }
}