html,body{
    /*background-image: url("../../images/gallery.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.gallery-header{
    background-image: url("../../images/gallery.jpg");
    max-height: 110px;
    overflow: visible;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gallery-container{
    background-image: linear-gradient(#1e1d1f 0%, #f6fbed 59.08%);
    padding: 50px 0;
}