/*
Lab 3 CSS styles
CSS styles for Ultimate frisbee page
*/

body {
  color: honeydew;
  font: 14pt "Comic Sans MS", "Arial", sans-serif;
  font-weight: bolder;
  background-color: #FFC08C;
  background-image: url("coffe-back.jpg");
  text-align: center;
}

#wrapper{
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

li{
  list-style:square;
  color: darkorange;
  font-style: italic;
}

#header {
  color: #BF0000;
}

#main img{
  border-style: solid;
  border-color: chocolate;
  border-width: 2px;
}

#footer {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

#menu {
  color: chocolate;
  font-family: "Arial Black";
}

#music {
  color: slategray;
  font-family: Verdana;
}

#location {
  color: black;
  font-weight: bold;
  font-family: "Lucida Calligraphy";
}

.altrow
{
  border: 5px dot-dash brown;
  background-color: darkgray;
  color: darkslategray;
  text-align: center;
}

table
{
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(odd)
{
  background-color: #FFC08C;
}