nav.navbar{
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: transparent !important;
}

.content{
    padding-top: 230px;
}

.home-title{
    width: 67%;
    margin: 0 auto 17px;
    text-align: center;
    font-size: 180px;
    color: #ecede8;
    backdrop-filter: blur(8px);
    border-style: ridge;
    border-color: #afa292;

}

.home-adv {
    text-align: center;
    color: #ecede8;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    background-color: #afa292;
    width: 42%;
    margin: 0 auto 35px;
}

.home-p {
    font-size: 25px;
    text-align: center;
    background-color: #dc3545;
    display: inline-block;
    margin: auto;
    padding: 0 7px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.home-button {
    margin-left: 50px;
    margin-right: 50px;
}

.button-container{
    text-align: center;
    margin-top: 100px;
}

.card{
    background: transparent !important;
}

.pagelogo {
    width: 120px;
    height: 80px;
    margin-left: 40px;
    margin-right: 15px;
    padding: 8px;
    background-color: #ffe067;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,.3);
}

footer {
    padding: 30px 0 20px;
    background-color: #fff5f8;
}

.footer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.footer-logo{
    height: 90px;
}

.footer-logo-text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
}

.footer-text{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 20px;
}

.socials {
    text-align: center;
    margin-right: 5px;
}

.logos {
    margin: 10px auto;
    width: 10%;
    display: flex;
    justify-content: space-evenly;
}

.nav-item a{
    font-size: 21px;
    font-weight: bold;
    font-family: cursive;
}

.nav-item{
    margin-right: 45px;
}

.home-header{
    background-image: url("../images/home.jpg");
    max-height: none;
    overflow: visible;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.events-header{
    max-height: 110px;
    overflow: visible;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn {
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
}

